html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 1.5;
}

/* HEADER */
header {
  background-color: #009246;
  padding: 10px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0px;
}

.logo-container {
  margin-left: auto;
}

.headlogo {
  width: 150px;
  height: 100px;
}

.header-text {
  margin-left: 10px;
}

/* End of HEADER */

/* NAVIGATION */
nav {
  margin-top: 5px;
  background-color: #CE2B37;
  padding: 0.1px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #cccccc;
}

nav ul li {
  color: #cccccc;
}

/* End of NAVIGATION */

/* MAIN */
main {
  background-color: #ffffff;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mariobutton {
  background-color: #CE2B37;
  color: #fff;
  text-align: center;
  padding: 20px 50px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 24px;
  margin: 10px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

#luigibutton {
  background-color: #009246;
  color: #fff;
  text-align: center;
  padding: 20px 50px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 24px;
  margin: 10px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

#mariobutton:hover,
#luigibutton:hover {
    background-color: #636060;
}

.mainlogo {
  width: 300px;
  height: 150px;
  display: block;
  margin: 0 auto;
}

.button-logo {
  width: 150px;
  height: 100px;
  margin-bottom: 10px;
}

.welcometext p {
  color: #6D4C41;
  font-size: 24px;
  margin: 0;
  text-align: center;
}

.welcometext h2 {
  color: #CE2B37;
  font-size: 36px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  align-items: center;
}

/* FOOTER */
.footer {
  padding: 1px;
  color: #00005a;
  text-align: center;
}
/* End of FOOTER */

table{
  border-collapse: collapse;
  width: 100%;
  color: #588c7e;
  font-family: monospace;
  font-size: 25px;
  text-align: left;
}
th{
  background-color: #588c7e;
  color: white;
}

tr:nth-child(even) {background-color: #f2f2f2}

tr:nth-child(odd) {background-color: #c9c9c9}