<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="styles.css" type="text/css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <h1>Dashboard</h1>
    </header>
    <table>
      <thead>
          <tr>
            <th>Name</th>
            <th>Pepperoni</th>
            <th>Pepperoni Size</th>
            <th>Mushroom</th>
            <th>Mushroom Size</th>
            <th>Cheese</th>
            <th>Cheese Size</th>
            <th>Status</th>
          </tr>
      </thead>
      <tbody>
          {% for order in orders %}
              <tr>
                    <td>{{ order['name'] }}</td>
                    <td>{{ order['pepperoni'] }}</td>
                    <td>{{ order['pepperoni_size'] }}</td>
                    <td>{{ order['mushroom'] }}</td>
                    <td>{{ order['mushroom_size'] }}</td>
                    <td>{{ order['cheese'] }}</td>
                    <td>{{ order['cheese_size'] }}</td>
                    <td>{{ order['status'] }}</td>
              </tr>
          {% endfor %}
    </tbody>
    </table>
</body>
</html>