<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="styles.css" type="text/css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <h1>Dashboard</h1>
    </header>
    <table>
      <thead>
          <tr>
            <th>Name</th>
            <th>Pepperoni</th>
            <th>Cheese</th>
            <th>Veggie</th>
            <th>Meat Lovers</th>
            <th>Vegan</th>
            <th>Quattro Formaggi</th>
            <th>Quattro Stagioni</th>
            <th>Supreme</th>
            <th>Tonno</th>
            <th>Status</th>
          </tr>
      </thead>
      <tbody class="pizza_name">
          {% for order in orders %}
              <tr>
                    <td>{{ order['name'] }}</td>
                    <td>{{ order['pepperoni'] }}</td>
                    <td>{{ order['cheese'] }}</td>
                    <td>{{ order['veggie'] }}</td>
                    <td>{{ order['meat_lovers'] }}</td>
                    <td>{{ order['vegan'] }}</td>
                    <td>{{ order['quattro_formaggi'] }}</td>
                    <td>{{ order['quattro_stagioni'] }}</td>
                    <td>{{ order['supreme'] }}</td>
                    <td>{{ order['tonno'] }}</td>
                    <td>{{ order['status'] }}</td>
              </tr>
          {% endfor %}
    </tbody>
    </table>
</body>
</html>