<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="CSS/mario.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mario.css') }}">
    <title>Menu Dashboard</title>
</head>
<body>
    <header>
        <div class="header-text">
            <h1>Mario and Luigi's Pizzeria</h1>
        </div>
        <div class="logo-container">
            <img src="{{ url_for('static', filename='logo2.png') }}" alt="Logo" class="headlogo">
        </div>
    </header>
    <main>      
        <form action="/mario" method="post">
                <label for="name">Enter order name:</label>
                <input type="text" id="name" name="name" required>
                <br>
            <div class="menu">
                <div class="menu-item">
                    <img src="{{ url_for('static', filename='pepperoni.png') }}" alt="Logo">
                    <h2>Pepperoni</h2>
                    <p>Price: $10</p>
                    <p>Ingredients: Pizza Sauce, Mozzarella and Pepperoni</p>
                    <label for="pepperoni"></label>
                    <div class="number-input">
                        <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>
                        <input class="quantity" type="number" id="pepperoni" name="pepperoni" min="0" max="10" value="0">
                        <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                    </div>
                </div>
                <div class="menu-item">
                    <img src="{{ url_for('static', filename='cheese.png') }}" alt="Logo">
                    <h2>Cheese</h2>
                    <p>Price: $10</p>
                    <p>Ingredients: Pizza saus, Mozzarella.</p>
                    <label for="cheese"></label>
                    <div class="number-input">
                        <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>
                        <input class="quantity" type="number" id="cheese" name="cheese" min="0" max="10" value="0">
                        <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                    </div>
                </div>
                <div class="menu-item">
                    <img src="{{ url_for('static', filename='veggie.png') }}" alt="Logo">
                    <h2>Veggie</h2>
                    <p>Price: $10</p>
                    <p>Ingredients: Pizza Sauce, Mozzarella, Green Chili Pepper, Green Peppers, Jalapeno, Red Peppers and Onions.</p>
                    <label for="veggie"></label>
                    <div class="number-input">
                        <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>
                        <input class="quantity" type="number" id="veggie" name="veggie" min="0" max="10" value="0">
                        <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                    </div>
                </div>
                <div class="menu-item">
                    <img src="{{ url_for('static', filename='meat_lovers.png') }}" alt="Logo">
                    <h2>Meat Lover`s</h2>
                    <p>Price: $10</p>
                    <div class="menu-item-text">
                        <p>Ingredients: Pizza Sauce, Mozzarella, Bacon, Ham, Spicy Beef, Pepperoni and Pork Sausage.</p>
                    </div>
                    <label for="meat_lovers"></label>
                    <div class="number-input">
                        <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>
                        <input class="quantity" type="number" id="meat_lovers" name="meat_lovers" min="0" max="10" value="0">
                        <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                    </div>
                </div>
                <div class="menu-item">
                    <img src="{{ url_for('static', filename='vegan.png') }}" alt="Logo">
                    <h2>Vegan</h2>
                    <p>Price: $10</p>
                    <div class="menu-item-text">
                    <p>Ingredients: Pizza Sauce and Vegan Cheese</p>
                    </div> 
                    <label for="vegan"></label>
                    <div class="number-input">
                        <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>
                        <input class="quantity" type="number" id="vegan" name="vegan" min="0" max="10" value="0">
                        <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                    </div>
                </div>
                <div class="menu-item">
                    <img src="{{ url_for('static', filename='quattro_formaggi.png') }}" alt="Logo">
                    <h2>Quattro Formaggi</h2>
                    <p>Price: $10</p>
                    <p>Ingredients: Pizza sauce, Mozzarella, Belegen, Gouda and Old Amsterdam.</p>
                    <label for="quattro_formaggi"></label>
                    <div class="number-input">
                        <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>
                        <input class="quantity" type="number" id="quattro_formaggi" name="quattro_formaggi" min="0" max="10" value="0">
                        <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                    </div>
                </div>
                <div class="menu-item">
                    <img src="{{ url_for('static', filename='quattro_stagioni.png') }}" alt="Logo">
                    <h2>Quattro Stagioni</h2>
                    <p>Price: $10</p>
                    <p>Ingredients: Pizza sauce, artichokes, tomatoes, basil, prosciutto, ham, mushrooms, olives.</p>
                    <label for="quattro_stagioni"></label>
                    <div class="number-input">
                        <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>
                        <input class="quantity" type="number" id="quattro_stagioni" name="quattro_stagioni" min="0" max="10" value="0">
                        <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                    </div>
                </div>
                <div class="menu-item">
                    <img src="{{ url_for('static', filename='supreme.png') }}" alt="Logo">
                    <h2>Supreme</h2>
                    <p>Price: $10</p>
                    <p>Ingredients: Pizza sauce, bacon, pepperoni slices, red and green bell pepper, red onion, black olives, mozzarella, Parmesan, basil.</p>
                    <label for="supreme"></label>
                    <div class="number-input">
                        <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>
                        <input class="quantity" type="number" id="supreme" name="supreme" min="0" max="10" value="0">
                        <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                    </div>
                </div>
                <div class="menu-item">
                    <img src="{{ url_for('static', filename='tonno.png') }}" alt="Logo">
                    <h2>Tonno</h2>
                    <p>Price: $10</p>
                    <p>Ingredients: Tomato sauce, tuna, onion, mozzarella</p>
                    <label for="tonno"></label>
                    <div class="number-input">
                        <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>
                        <input class="quantity" type="number" id="tonno" name="tonno" min="0" max="10" value="0">
                        <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                    </div>
                </div>
                <input type="submit" class="submitbutton" value="Finish the order">
            </div>
        </form>
    </main>
    <footer class="footer">
        <p>&copy; 2023 Mario and Luigi's Pizzeria</p>
    </footer>
</body>
</html>